/* BACKGROUND AND FONTS */
* {
  font-family: "Archivo", serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* END OF BACKGROUND AND FONTS*/

html {
  background-color: #ffffff;
}
/* HEADER */

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1rem;
  justify-content: space-between;
  padding-right: 1rem;
  padding-top: 1rem;
}

/* .icons {
  /* text-align: right; */
/* padding-left: 25rem; */
/* }  

/* header {
  display: flex; 
  flex-direction: row; 
  align-items: center; 
} */

/*MENU BAR*/
.linksheader {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 20rem;
  background-image: url(/img/background.png);
  background-size: cover;
  background-position: 90%;
}
.linksheader a {
  color: black;
  font-weight: bold;
}
li {
  margin-left: 4rem;
}
/* END OF HEADER*/
