/* BACKGROUND AND FONTS */
/*Help from second year NMD student Erik Sandquist*/
html {
  background-color: #ffffff;
}
/* End of help from NMD student*/
* {
  font-family: "Archivo", serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* END OF BACKGROUND AND FONTS*/

/* CSS for Index html */
/* HEADER */
.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1rem;
  justify-content: space-between;
  padding-right: 1rem;
  padding-top: 1rem;
}
/*END OF HEADER*/

/* .icons {
  /* text-align: right; */
/* padding-left: 25rem; */
/* }  

/* header {
  display: flex; 
  flex-direction: row; 
  align-items: center; 
} */

/*MENU BAR*/
.linksheader {
  display: flex;
  gap: 4rem;
  list-style: none;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 20rem;
  background-image: url(/img/background.png);
  background-size: cover;
  background-position: 90%;
}
.linksheader a {
  color: black;
  font-weight: bold;
}
/* END OF MENU BAR*/

/*MAIN PAGE - QUOTE*/
#quote {
  margin: 4rem;
  text-align: center;
}

/*MAIN PAGE - SCROLLBAR*/
/*used w3 schools, do we need to site? https://www.w3schools.com/howto/howto_css_menu_horizontal_scroll.asp*/
div.scrollmenu {
  display: flex;
  gap: 2rem;
  background-color: beige;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

div.scrollmenu img {
  width: 250px;
  height: 300px;
}

div.scrollmenu a {
  display: block;
  position: relative;
  color: black;
  text-align: center;
  text-decoration: none;
  list-style: none;
  width: 250px;
  height: 300px;
}

div.scrollmenu a:hover {
  background-color: #ffffff;
}
/* END OF MAIN PAGE */

/*FOOTER - LINKS*/
footer {
  background-color: beige;
  margin-top: 6rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
}

.linksfooter a {
  color: black;
  list-style: none;
}
/* END CSS for Index html */

/* CSS for livingroom html */

#sale {
  margin: 2rem;
  text-align: center;
  color: rgb(153, 201, 255);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 24pt;
}

#h1lr {
  margin-top: 1rem;
  text-align: center;
}

div.lrmenu {
  display: flex;
  gap: 2rem;
  background-color: beige;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 1rem;
  margin-top: 2rem;
}

div.lrmenu a {
  display: block;
  position: relative;
  color: black;
  text-align: center;
  text-decoration: none;
  list-style: none;
}

div.lrmenu a:hover {
  background-color: #ffffff;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
}

.products img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.products figcaption {
  color: black;
  text-decoration: none;
}

/* END CSS for livingroom html */
